* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

h1,
h2 {
  color: #333333;
}
.App{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.info{
  display: flex;
  align-items: center;
  margin: 50px;
  flex: calc(33.3333% - 100px);
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  margin: 5px;
  border-radius: 30px;
  width: fit-content;
}
.description{
  font-size: 12px;
}

.employes{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}